/* css reset */

* {
    height: fit-content;
    /* width: auto; */
    margin: 0;
    padding: 0;
}


/* top bar */

#navtop {
    position: sticky;
    /* height: 16px; */
    /* background-color: chocolate; */
}


#scrollbar {
    /* position: sticky; */
    /* box-sizing: border-box; */
    /* box-sizing: content-box; */
    height: 18px;
    background-color: coral;
}

#scrollbar  p{
    display: flex;
    /* animation: forwards; */
    /* animation-direction: normal; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 15px;
    margin-top: 0px;
    animation: Harsh2 5s ease-in-out 4s 7 reverse;
}

@keyframes Harsh2 {
    0% {
        top: auto;
        left: 25%;
    }

    25% {
        top: auto;
        left: 50%;
    }

    75% {
        top: auto;
        left: 75%;
    }

    100% {
        top: auto;
        left:100%;
    }
}

/* Navigation bar */

#navbar {
    display: flex;
    height: 120px;
    background-color: burlywood;
    /* width: ; */
}

#logo {
    margin: 10px 200px;

}

#logo img {
    border: 4px solid red;
    border-radius: 30px;
    height: 70px;
    width: 80px;
}

#navmid {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
}


#navmid h1 {
    display: flex;
    font-size: 2rem;
    margin: 20px 0px 10px -200px;
    /* display:inline-block; */
    align-items: center;
    justify-content: center;
}


#navmid p {
    display: flex;
    /* display: flex; */
    position: fixed;
    /* left: 0px; */
    /* position: relative; */
    top: 70px;
    left: 20%;
    /* margin: 0px 30px 0px 30px; */
    justify-content: center;
    align-items: center;
}

#logo2 {
    position: absolute;
    display: flex;
    right: 40px;
    margin: 15px 30px;
}

#logo2 img {
    border: 4px solid red;
    border-radius: 10px;
    height: 60px;
    width: 60px;
}


/* naigation bar 2 */


#navbar2 {
    /* position: relative; */
    /* z-index: 2; */
    display: flex;
    /* height: 100px;he */
    /* background-color: black; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

#navbar2::before {
    /* position: relative; */
    /* z-index: 2; */
    /* display: inline-block; */
    height: 100px;
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 200px; */
    /* background-color: black; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

#navbar2 ul {

    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 30px 15px;
    width: 200px;
    /* overflow: hidden; */
}

#navbar2 ul li {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 50px; */
    /* display: flex; */
    /* width: 100%; */
    height: 25px;
    margin:10px;
    margin-bottom: 20px;
    width: auto;
    /* overflow: hidden; */
    flex-wrap: wrap;
    /* padding: 10px; */
    /* width: auto; */
    /* flex-direction: column; */
}

#nav2 li a {
    font-size: large;
    display: flex;
    /* height: 120px; */
    text-decoration: none;
    font-weight: 600;
    color: gray;
    flex-wrap: wrap;
    /* width: fit-content; */
    /* width: 110px; */
    /* width: 100%; */
    /* background-color:slategray; */
    /* display: flex; */
    /* flex-direction: column; */
}

/* div saction of 4 */

#s1 {
    display: flex;
}

#div1 {
    display: flex;
    background-color: chartreuse;
    margin: 7px 15px;
    padding: 3px 10px;
    width: 23%;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;

}

#div2 {
    display: flex;
    background-color: rgb(244, 104, 4);
    margin: 7px 15px;
    padding: 3px 10px;
    width: 23%;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
}